$font-header: 'Source Sens Pro';
$font-text: 'sens-serif';

/*Splash*/

.splash {
    background-image: url('https://images.pexels.com/photos/849835/pexels-photo-849835.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
}

.splash-item {
    height: 100vh;
    position: relative;
}

.splash-inner img {
    position: absolute;
    object-fit: cover;
}

.page-title {
    font-family: $font-header;
}

.page-subtitle {
    font-family: $font-text;
}

/*Services*/
.serv-image {
    color:rgb(22, 75, 9);
}
.serv-image i {
    font-size: 35px;
    background: #fff;
    width: 30px;
    height: 30px;
    line-height: 40px;
    color: #1d5c10;
    border-radius: 50%;
    border: 1px solid green;
}

/*Portfolio*/
.portfolio {
    color:#eff2f5;
}

/*Footer*/
.page-footer {
    display: flex; 
    }
  
  .page-footer ul {
    padding: 0; 
    }
  
  .page-footer li {
    display: inline-block;
    font-size: 0px;
    padding-top: 48px;
    padding-bottom: 48px;
    transition: all 1s; 
    }
  
  .page-footer i {
    font-size: 30px;
    background-color: #0b6461;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 60px;
    text-align: center; 
    }