$font-header: 'Source Sens Pro';
$font-text: 'sens-serif';

/*Splash*/

.splash-item {
    height: 100vh;
    position: relative;
}

.splash-inner img {
    position: absolute;
    object-fit: cover;
}

.page-title {
    font-family: $font-header;
}

.page-subtitle {
    font-family: $font-text;
}

/*Services*/
.serv-image {
    color:rgb(22, 75, 9);
}
.serv-image i {
    font-size: 35px;
    background: #fff;
    width: 70px;
    height: 70px;
    line-height: 70px;
    color: #1d5c10;
    border-radius: 50%;
    border: 1px solid green;
    margin: 0 auto;
}

/*Portfolio*/
.portfolio {
    color: #000102;
    background: #eff2f5;
}

/*Footer*/
.page-footer {
    display: flex; 
    }

.box-media a {
    font-size: 0px;
}
.box-media i {
    font-size: 30px;
    background-color: #0b6461;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center; 
    margin: 0 auto;
    transition: all 1s; 
    }